
<style>
    .bethel_footer_button {

        color: #f8f9fa !important; /* 연한 회색 글자 */
    }

    .bethel_footer {
        text-align: center;
        margin-top: 0.5rem;
        background-color: #5A1E1E;
        padding: 1rem 1rem 1rem; /* 패딩 추가 */
        color: #FFD700; /* 기본 글자색을 연한 회색으로 */
        font-size: 2rem;
        font-family: 'NanumDdoBagDdoBag';
        font-weight: bold;
    }
</style>

    <div class="bethel_footer">

        <div>
            <span>Faith</span> |
            <span>Hope</span> |
            <span>Love</span>
        </div>

    </div>